pkgbase = wine-rouvy
	pkgdesc = Wine with Bluetooth LE sensor patches for Rouvy, self-contained under /opt
	pkgver = 11.18.rouvy0.1.0
	pkgrel = 1
	url = https://github.com/evanjt/rouvy-linux
	arch = x86_64
	license = LGPL-2.1-or-later
	license = MIT
	makedepends = alsa-lib
	makedepends = ffmpeg
	makedepends = git
	makedepends = gtk3
	makedepends = libcups
	makedepends = libgphoto2
	makedepends = libva
	makedepends = libxcomposite
	makedepends = libxinerama
	makedepends = libxxf86vm
	makedepends = mesa
	makedepends = mingw-w64-gcc
	makedepends = opencl-headers
	makedepends = opencl-icd-loader
	makedepends = pcsclite
	makedepends = perl
	makedepends = samba
	makedepends = sane
	makedepends = sdl2
	makedepends = unixodbc
	makedepends = v4l-utils
	makedepends = vulkan-headers
	depends = attr
	depends = bluez
	depends = dbus
	depends = desktop-file-utils
	depends = fontconfig
	depends = freetype2
	depends = gettext
	depends = glibc
	depends = gnutls
	depends = gst-plugins-base-libs
	depends = libgcc
	depends = libpcap
	depends = libpulse
	depends = libunwind
	depends = libxcursor
	depends = libxi
	depends = libxkbcommon
	depends = libxrandr
	depends = python
	depends = vulkan-icd-loader
	depends = wayland
	optdepends = alsa-lib: ALSA audio
	optdepends = alsa-plugins: ALSA audio
	optdepends = ffmpeg: route video codecs
	optdepends = gst-plugins-bad: route video
	optdepends = gst-plugins-good: route video
	optdepends = gst-plugins-ugly: route video
	optdepends = gtk3: file dialogs
	optdepends = libva: video acceleration
	optdepends = libxcomposite: compositing
	optdepends = libgphoto2: cameras
	optdepends = libxinerama: multiple monitors
	optdepends = opencl-icd-loader: OpenCL
	optdepends = pcsclite: smart cards
	optdepends = perl: winemaker
	optdepends = python-gobject: hold off the screen saver during a ride
	optdepends = sane: scanners
	optdepends = sdl2: game controllers
	optdepends = v4l-utils: webcams
	options = !lto
	options = !staticlibs
	options = pestrip
	source = wine::git+https://github.com/evanjt/wine.git#tag=wine-11.18-rouvy-0.1.0
	source = rouvy-linux::git+https://github.com/evanjt/rouvy-linux.git#tag=v0.1.1
	sha512sums = SKIP
	sha512sums = SKIP

pkgname = wine-rouvy
