[Desktop Entry]
Type=Application
Name=Rouvy
Comment=Rouvy on patched Wine with Bluetooth LE sensors
Exec=rouvy
Icon=rouvy
Terminal=false
Categories=Game;Sports;
